<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" #email />
    </div>

    <div class="mb-3">
      <label for="confirmpassword" class="form-label">Confirm Password</label>
      <input
        type="confirmpassword"
        id="confirmpassword"
        class="form-control"
        #email
      />
    </div>

    <button type="submit" class="btn btn-primary">Update Password</button>
  </div>
  <div class="col-md-3"></div>
</div>
