<div class="row" *ngIf="this.state?.state">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" #password />
    </div>

    <div class="mb-3">
      <label for="confirmpassword" class="form-label">Confirm Password</label>
      <input
        type="confirmpassword"
        id="confirmpassword"
        class="form-control"
        #passwordConfirm
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="updatePassword(password.value, passwordConfirm.value)"
    >
      Update Password
    </button>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
  This link is not used
</div>
