<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="email" class="form-label">Email & UserName</label>
      <input
        type="text"
        id="email"
        #userNameOrEmail
        class="form-control"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input #password type="password" class="form-control" id="password" />
    </div>
    <asl-google-signin-button></asl-google-signin-button>

    <button
      (click)="login(userNameOrEmail.value, password.value)"
      style="width: 100%"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
  </div>
  <div class="col-md-3"></div>
</div>
