<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="email" class="form-label">Email & UserName</label>
      <input
        type="text"
        id="email"
        #userNameOrEmail
        class="form-control"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input #password type="password" class="form-control" id="password" />
    </div>
    <div class="icons" style="display: flex; gap: 10px; margin-bottom: 10px">
      <asl-google-signin-button style="width: 32px"></asl-google-signin-button>

      <img
        src="../../../../assets/facebookLogo.png"
        style="width: 32px; cursor: pointer"
        alt="Facebook Logo"
        (click)="FacebookLogin()"
      />
    </div>
    <button
      (click)="login(userNameOrEmail.value, password.value)"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
    <a
      style="margin-left: 10px"
      class="btn btn-secondary"
      routerLink="/password-reset"
    >
      Forgot Password
    </a>
  </div>
  <div class="col-md-3"></div>
</div>
